<nav>
  <div class="nav-wrapper">
    <!-- <a href="#"  class="brand-logo">Logo</a> -->
    <div id="brand-afro">
    <%= image_tag "afroman.jpg", class: "responsive-img" %>
    </div>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <% if user_signed_in? %>
      <div>
        <li>
          <% avatar_url = current_user.facebook_picture_url || "http://placehold.it/30x30" %>
          <%= image_tag avatar_url, class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
        </li>
      </div>
      <li>
        <%= link_to "#" do %>
        <i class="fa fa-user"></i> <%= t(".profile", default: "Profile") %>
        <% end %>
      </li>
      <li>
        <%= link_to "#" do %>
        <i class="fa fa-home"></i>  <%= t(".profile", default: "Home") %>
        <% end %>
      </li>
      <li>
        <% unless current_user.role.nil? %>
          <% if current_user.role == "barber" %>
            <% if current_user.appointments.length == 0 %>
            <%= link_to 'No Appointments Yet!', barbers_path %>
            <% else %>
           <%= link_to 'View Appointments', barber_appointments_path(Appointment.find_by_barber_id(current_user.id)) %>
           <% end %>
            <% else current_user.role == "client" %>
              <% if current_user.appointments.length == 0 %>
                  <%= link_to 'No Appointments Yet!', barbers_path %>
                <% else %>
              <%= link_to 'View Appointment', barber_appointment_path(@appointment = Appointment.find_by_user_id(current_user.id), @barber = Barber.find(@appointment.barber_id)) %>
              <% end %>

              <% end %>
            <% end %>
          </li>
      <li>
        <%= link_to destroy_user_session_path, method: :delete do %>
        <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
        <% end %>
      </li>
      <% else %>
      <li>
        <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
      </li>
      <% end %>
    </ul>
  </div>
</nav>


