<h1> Edit <%= @barber.name %></h1>

<%= form_for(@barber) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :description %>
  <%= f.text_field :description %>
  <%= f.label :location %>
  <%= f.text_field :location %>
  <%= f.submit %>
<% end %>

<h2> Add New Services </h2>

<%= simple_form_for([@barber, @barberservice]) do |f| %>

<%= f.association :service %>
<%= f.input :price  %>
<%= f.input :duration  %>


<%= f.submit  %>
<% end %>

<h2> Current Services</h2>

<% @barber.barber_services.each do |barber_service|  %>
<li>
<%= barber_service.name %>
Set Price : <%= barber_service.price %>
Time Need : <%= barber_service.duration %>
</li>
<% end %>
