<div class="container">
	<div class="row">
   <div class="col-md-9-offset col-md-4-offset">
     <h1><span>
       Find your favorite barber
     </span></h1>
   </div>
 </div>
</div>

  <div class="container-index">
   <div class="row-index">
    <% @barbers.each do |barber| %>
    <div class="col-sm-12 col-md-9-centered">
     <div class="thumbnail">
       <%= image_tag "beardman.png", class: "avatar-large" %>
       <div class="caption">
         <h2>
          <%= link_to "#{barber.name}", barber_path(barber), class: "barbername" %>
        </h2>
        <p>
          <%= barber.description[0..50] %>...
          <% average = 0 %>
          <% barber.reviews.each do |e| %>
          <% average += e.rating.to_i %>
          <% end %>

          <p>Average Rating:</p>
          <% if barber.reviews.length == 0 %>
          <%= 0 %>
          <% else %>
          <%= average/barber.reviews.length %>
          <% end %>
        </p>
        <%= link_to 'Book Appointment', new_barber_appointment_path(barber) %>
      </p>
    </div>
  </div>
</div>
<% end %>
</div>
</div>
