<h1> <%= @barber.name %></h1>
<%= image_tag(@barber.picture) %>

<ul>
    <li> This guy: <%= @barber.description %> </li>
    <li> This is where my boiii lives:  <%= @barber.location %> </li>
    <li> Dem skillz : <%= @barber.services %> </li>
    <li> <%= link_to 'Book Appointment', new_barber_appointment_path(@barber) %></li>
</ul>


<div class="container">
  <div class="row">
    <% @barber.reviews.each do |review| %>
      <div class="col-sm-12 col-md-4 col-md-offset-4">
        <div class="card">
          <%= review.description %>
          <%= review.rating %>
          <%= link_to 'Edit Review', edit_barber_review_path(@barber, review) %>
          <%= link_to "Delete", barber_review_path(@barber, review), method: :delete, data: { confirm: "Are you sure?" } %>
        </div>
      </div>
    <% end %>
  </div>
</div>


<%= link_to 'Leave a review!', new_barber_review_path(@barber) %>
<%= link_to "Edit #{@barber.name}", edit_barber_path(@barber) %> <br>
<%= link_to "Delete #{@barber.name}", barber_path(@barber), method: :delete, data: { confirm: "you sure?" } %>

<div id="map" style="width: 50%; height: 300px; padding-left: 90px;"></div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @coordinates.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        }
      });
    });
  <% end %>
<% end %>
