


<div class="center_content">
<h1><span> <%= @barber.name %> </span></h1>
<div>
<%= image_tag @barber.photo, class: "barberprofile" %>
 <%= simple_form_for(@barber) do |f| %>
  <%= f.input :photo, as: :hidden %>
  <%= f.input :photo_cache, as: :hidden %>
  <%= f.submit %>
<% end %>
<p> Add an if statement as soon as we have user restriction</p>
</div>
</div>


<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-9">
      <div id="barberinfo">
        <h2> <%= @barber.name %></h2>
        <ul>
          <p>
            <li> About this Barber: <%= @barber.description %> </li>
            <li> Located at:  <%= @barber.location %> </li>
            <li> Skills and Services: <%= @barber.services %> </li>
            <% if @barber.barbershop_id? %>
            <li>
            You can find this barber @ <%= link_to "#{@barber.barbershop.name}", barber_barbershop_path(@barber, @barbershop) %>
              <% else %>
              This barber works remote within a radius of 5 km. <%= @barber.name %> is locates at <%= @barber.location %>
              <% end %>
            </li>
            <br>
            <%= link_to 'Book Appointment', new_barber_appointment_path(@barber), class: "btn btn-default" %>
          </p>
        </ul>
        <div>
          <h2>Reviews</h2>
          <% @barber.reviews.each do |review| %>
          <ul>
            <li>
              <div>
                <%= review.description %>
                <%= review.rating %>

                <% if review.user == current_user %>
                <%= link_to 'Edit Review', edit_barber_review_path(@barber, review) %>
                <%= link_to "Delete", barber_review_path(@barber, review), method: :delete, data: { confirm: "Are you sure? 1" } %>
                <% end %>
              </li>
            </div>
          </ul>
          <% end %>
          <p>
            <%= link_to 'Leave a review!', new_barber_review_path(@barber), class: "btn btn-default" %>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<% @barber.reviews.each do |review| %>
  <%  if review[:photo] %>
<%= image_tag review[:photo], class: "barberprofile" %>
  <% end %>
<% end %>




<% if current_user.barber == @barber %>
<%= link_to "Edit Profile", edit_barber_path(@barber) %> <br>
<%= link_to "Delete Profile", barber_path(@barber), method: :delete, data: { confirm: "you sure? 2" } %>
<% end %>

<br>
<br>
<br>
<br>

<div id="map" style="width: 50%; height: 300px; padding-left: 90px;"></div>

<% content_for(:after_js) do %>
<%= javascript_tag do %>
$(document).ready(function() {
var handler = Gmaps.build('Google');
handler.buildMap({ internal: { id: 'map' } }, function() {
markers = handler.addMarkers(<%= raw @coordinates.to_json %>);
handler.bounds.extendWith(markers);
handler.fitMapToBounds();
if (markers.length == 0) {
handler.getMap().setZoom(2);
} else if (markers.length == 1) {
handler.getMap().setZoom(14);
}
});
});
<% end %>
<% end %>

