<h1> <%= @barber.name %></h1>

<ul>
  <p>
    <li> <%= @barber.description %> </li>
    <li> <%= @barber.location %> </li>
    <li> <%= @barber.services %> </li>
  </p>
</ul>

<%= link_to "Edit #{@barber.name}", edit_barber_path(@barber) %> <br>
<%= link_to "Delete #{@barber.name}", barber_path(@barber), method: :delete, data: { confirm: "you sure?" } %>



