<h1> <%= @barber.name %></h1>

<ul>
  <p>
    <li> <%= @barber.description %> </li>
    <li> <%= @barber.location %> </li>
    <li> <%= @barber.services %> </li>
  </p>
</ul>

<%= link_to 'Leave a review!', new_barber_review_path(@barber) %>
