  <div class="banner" style="background-image: linear-gradient(-225deg, rgba(245, 245, 245, 0.58) 0%, rgba(132, 138, 142, 0.7) 50%), url(https://upload.wikimedia.org/wikipedia/commons/thumb/6/6e/TexasRichardson_barberShop.jpg/800px-TexasRichardson_barberShop.jpg);">
    <div class="banner-content">
      <section class="first">
        <div class="">
          <h1 class="effect"><span>Barber.App</span></h1>
          <h3 class="fade"><%= form_tag(barbers_path, :method => "get", id: "search-form") do %>
            <%= text_field_tag :search, params[:search], placeholder: "Search your Barber" %>
            <% end %>
          </h3>
          <h6>
            Or
          </h6>
          <h3 class="fade" >
            <%= link_to 'Find Available Barbers Near Me', availabilities_path, class: "search-btn", id: "find-btn" %>
            <div class="range-slider"> Max Distance
              <input class="range-slider__range" type="range" value="5" min="0" max="50">
              <span id="slider-value" class="range-slider__value">0</span>
            </div>
            <%#= form_tag(barbers_path, :method => "get", id: "search-form") do %>
            <%#= text_field_tag :location, params[:search], placeholder: "Find Available Barbers Near Me!" %>
            <%# end %>
          </h3>
        </div>
      </section>
    </div>
  </div>


  <div class="container text-center padded features">
    <div class="row">
      <div class="logo-fonts">
        <div class="col-xs-12 col-sm-6 col-md-3">
          <%= image_tag "wondered-hipster.png" %>
          <h2>Do you have what it takes?</h2>
          <%= link_to ' Join the BarberApp', new_barber_path, class: "btn btn-default" %>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <%= image_tag "barber.png" %>
          <h2>Get restyled & renewed</h2>
          <p>Let your hair get the attention it deserves</p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <%= image_tag "beardman.png" %>
          <h2>Show off the new you</h2>
          <p>Because your worth it</p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <%= image_tag "heart.png" %>
          <h2>Leave a review & share! </h2>
          <p>And share you experiences</p></br>
        </br>

      </div>
    </div>
  </div>
</div>






