  <div class="banner" style="background-image: linear-gradient(250deg, rgba(245, 245, 245, 0.58) 0%, rgba(132, 138, 142, 0.7) 50%), url( <%= image_path("Barber_banner_2.png") %>);">
    <div class="banner-content">
      <section class="first">
          <h1 class="effect"><span>Barber.App</span></h1>
        </section>
      </div>
    </div>

    <div class= "container searchfunction">
      <div class= "row">
        <div class="col-xs-12">

          <div class= "search-one">
            <h3 class="fade"><%= form_tag(barbers_path, :method => "get", id: "search-form") do %>
              <%= text_field_tag :search, params[:search], placeholder: "Search your Barber" %>
              <% end %>
            </h3>
            <h6>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class= "container searchfunction">
      <div class= "row">
        <div class="col-xs-12">
          <div class= "search-two">
          </h6>
          <h3 class="fade" >
            <%= link_to 'Find Available Barbers Near Me', availabilities_path, class: "search-btn", id: "find-btn" %>
            <div class="range-slider"> Max Distance
              <input class="range-slider__range" type="range" value="5" min="0" max="50">
              <span id="slider-value" class="range-slider__value">0</span>
            </div>
          </div>
        </div>
        <%#= form_tag(barbers_path, :method => "get", id: "search-form") do %>
        <%#= text_field_tag :location, params[:search], placeholder: "Find Available Barbers Near Me!" %>
        <%# end %>
      </h3>
    </div>
  </div>


  <div class="container text-center padded features">
    <div class="row">
      <div class="logo-fonts">
        <div class="col-xs-12 col-sm-6 col-md-3">
          <%= image_tag "wondered-hipster.png" %>
          <h2>Do you have what it takes?</h2>
          <%= link_to ' Join the BarberApp', new_barber_path, class: "btn btn-default" %>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <%= image_tag "barber.png" %>
          <h2>Get restyled & renewed</h2>
          <p>Let your hair get the attention it deserves</p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <%= image_tag "beardman.png" %>
          <h2>Show off the new you</h2>
          <p>Because your worth it</p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <%= image_tag "heart.png" %>
          <h2>Leave a review & share! </h2>
          <p>And share you experiences</p></br>
        </br>

      </div>
    </div>
  </div>
</div>

<div id="map" style="width: 100%; height: 600px; border-style: groove;"></div>

<% content_for(:after_js) do %>
<%= javascript_tag do %>
var styles = [{"featureType":"landscape","stylers":[{"hue":"#FFBB00"},{"saturation":43.400000000000006},{"lightness":37.599999999999994},{"gamma":1}]},{"featureType":"road.highway","stylers":[{"hue":"#FFC200"},{"saturation":-61.8},{"lightness":45.599999999999994},{"gamma":1}]},{"featureType":"road.arterial","stylers":[{"hue":"#FF0300"},{"saturation":-100},{"lightness":51.19999999999999},{"gamma":1}]},{"featureType":"road.local","stylers":[{"hue":"#FF0300"},{"saturation":-100},{"lightness":52},{"gamma":1}]},{"featureType":"water","stylers":[{"hue":"#0078FF"},{"saturation":-13.200000000000003},{"lightness":2.4000000000000057},{"gamma":1}]},{"featureType":"poi","stylers":[{"hue":"#00FF6A"},{"saturation":-1.0989010989011234},{"lightness":11.200000000000017},{"gamma":1}]}]

$(document).ready(function() {
var handler = Gmaps.build('Google');
handler.buildMap({ provider: {scrollwheel: false, styles: styles}, internal: { id: 'map' } }, function() {
markers = handler.addMarkers(<%= raw @coordinates.to_json %>);
handler.bounds.extendWith(markers);
handler.fitMapToBounds();
if (markers.length == 0) {
handler.getMap().setZoom(2);
} else if (markers.length == 1) {
handler.getMap().setZoom(14);
handler.disableScrollWheelZoom();

}
});
});
<% end %>
<% end %>






