<div class="container">
  <div class="appointment-body">
    <h2>
      Hi, <%= @user.name %>
  </div>


<h4> Add Availablitiy</h4>
<%= simple_form_for ([@barber, @availability]) do |f| %>
 <%= f.input :start, as: :datetime, html5: true %>
 <%= f.input :end, as: :datetime, html5: true %>
 <%= f.submit %>

<% end %>

  <div id="appointments">
    <h3 id="month">
    <%= link_to "<", date: @date.prev_week %>
    <%= @date.strftime("%B %Y") %>
    <%= link_to ">", date: @date.next_week %>
    </h3>
    <%= calendar @date do |date| %>
      <%= date.day %>
      <% if @appointments_by_date[date] %>
        <ul>
          <% @appointments_by_date[date].each do |appointment| %>
                <li> <%= link_to appointment.date.strftime("%Hh%M"), barber_appointment_path(@barber, appointment) %> </li>
          <% end %>
        </ul>
      <% end %>
    <% end %>
  </div>
</div>
