<div class="container">
  <div class="appointment-body">
    <h2>
      Hi, <%= @barber.name %>
    </div>


    <h4> Add Availablitiy</h4>
    <%= simple_form_for ([@barber, @availability]) do |f| %>
    <%= f.input :start, as: :datetime, html5: true %>
    <%= f.input :end, as: :datetime, html5: true %>
    <%= f.submit %>
    <% end %>

  </div>
  <div class="appointment-body">
    <h2>
      These are your booked appointments!
    </h2>
    <div class="row">

      <% @barber.appointments.each do |appointment| %>
      <p>Appointment with <%= appointment.user.name %> on the
        <%= appointment.availability.start.strftime("%b %e, %l:%M %p") %> untill <%= appointment.availability.end.strftime("%b %e, %l:%M %p") %> for a <%= appointment.barber_service.name %>
        <% end %>
      </p>
    </div>
  </div>


<div id="appointments">
   <h3 id="month">
   <%= link_to "<", date: @date.prev_week %>
   <%= @date.strftime("%B %Y") %>
   <%= link_to ">", date: @date.next_week %>
   </h3>
   <%= calendar @date do |calendar_date| %>
     <%= calendar_date.day %>
      <% @availabilities.each do |availability| %>
      <% cover = availability.start.to_date.between?(calendar_date, calendar_date.end_of_day) %>
       <% if cover %>
          <% if availability.appointment  %>
          <div class="appointment-booked">
              <%= availability.start.strftime("%l:%M %p") %>
                -
              <%= availability.end.strftime("%l:%M %p") %>
          </div>
            <% else %>
              <div class="appointment-availability">
                <%= availability.start.strftime("%l:%M %p") %>
                  -
                <%= availability.end.strftime("%l:%M %p") %>
              </div>
        <% end %>
       <% end %>
      <% end %>
   <% end %>
 </div>
</div>
