<div class="container">
  <div class="row">
    <div>
      <h2>New appointment with <%= @barber.name %> </h2>

      <h4>
        Availability
      </h4>
      <%= simple_form_for @appointment do |f| %>
      <%= f.input :date, as: :datetime, html5: true %>
      <%= f.input :barber_service, collection: @barber_service, input_html: { class: 'multiselectuser', multiple: true} %>
      <p>
      <%= f.button :submit %>
    </p>

    <% end %>
  </div>
</div>
</div>


