<div class="container">
  <div class="row">
    <div>

      <% if @barber.availabilities.any? %>

      <h2>New appointment with <%= @barber.name %> </h2>

      <%= simple_form_for ([@barber, @appointment]) do |f| %>

      <%= f.input :availability_id, collection: @barber.available_times, label_method: :start, value_method: :id %>

      <%= f.input :barber_service, collection: @barber_services  %>
      <p>
        <%= f.button :submit %>
      </p>
      <% end %>
      <% else %>
      <p>
        This barber does not have any availability...
      </p>
      <% end %>
    </div>
  </div>

  <h2> Spots still open</h2>
  <div class="row"">
    <% @barber.availabilities.each do |availability| %>
    <% if availability.appointment.nil? %>
    <div>
      <%= "#{availability.start.strftime("%b %e, %l:%M %p")} to #{availability.end.strftime("%b %e, %l:%M %p")}" %>
      <%# raise %>
      <br>
    </div>
    <% end %>
    <% end %>
  </div>



<!--   <h3>
    This barber has the following available time slots!
  </h3>

  <%# @barber.availabilities.each do |slot| %>
  <%#= link_to "#{slot.start} - #{slot.end}",  %>
-->


</div>


