<h1>
  <strong>
    Your Appointment with <%= Barber.find(params[:barber_id]).name %>
  </strong>
</h1>

<!-- user -->

<ul>
  <li>
    The date of your appointment: <%= @appointment.date %>
  </li>
  <li>
    The location of your appointment: <%= Barber.find(params[:barber_id]).location %>
  </li>
</ul>


<br>

<div id="update">
  <ul>
    <li>
      <%= link_to 'Update Appointment', edit_barber_appointment_path(@barber, @appointment), class: "btn btn-primary" %>
    </li>
  </ul>
</div>

<div id="update">
  <ul>
    <li>
      <%= link_to 'Cancel Appointment', barber_appointment_path(@barber, @appointment), class: "btn btn-primary", method: :delete, data: { confirm: "Are you sure?" } %>
    </li>
  </ul>
</div>

