<div class="banner-index" style="background-image: url( <%= image_path("Hipster-banner-index.jpg") %>);">
  <section class="first">
   <h1 class="banner-content-index">
    All the available barbers,
    <br>
    closest to you!
  </h1>
</div>
</section>






<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <div class="slider-search">
        <div>
          <h4>Current search range :  <%= @distance %> km</h4>
        </div>
        <!-- </div> -->
        <!-- <div class="col-sm-3"> -->
        <div class="range-slider"> Max Distance
          <input class="range-slider__range" type="range" value="5" min="0" max="50">
          <span id="slider-value" class="range-slider__value"></span>
        </div>
      </div>
    </div>
  </div>
</div>
<h4><%= link_to 'Find Available Barbers Near Me', availabilities_path, class: "search-btn", id: "find-btn" %>
</h4>

<div class="container-index">
 <div class="row-index">
  <% @available_barbers_by_distance.each do |barber| %>
  <div class="col-sm-12 col-md-9-centered">
   <div class="thumbnail">
     <%= image_tag "beardman.png", class: "avatar-large" %>
     <div class="caption">
       <h2>
        <%= link_to "#{barber.name}", barber_path(barber), class: "barbername" %>
      </h2>
      <p>
        <%= barber.description[0..50] %>...
        <% average = 0 %>
        <% barber.reviews.each do |review| %>
        <% average += review.rating.to_i %>
        <% end %>

        <p>Average Rating:</p>
        <% if barber.reviews.length == 0 %>
        <%= 0 %>
        <% else %>
        <%= average/barber.reviews.length %>
        <% end %>
        <p>This barber is available from
          <%= barber.availabilities.first.start %> untill <%= barber.availabilities.last.end %>
        </p>
        <p>Distance by foot: <%= barber.walk_distance(@lat, @lng) %> (<%= barber.walk_duration(@lat, @lng)  %>) <br>
          Distance by car: <%= barber.car_distance(@lat, @lng) %> (<%= barber.car_duration(@lat, @lng)  %>) <br>
        </p>
      </p>
      <%= link_to 'Book Appointment', new_barber_appointment_path(barber) %>
    </p>
  </div>
</div>
</div>
<% end %>
</div>
</div>



<div id="map" style="width: 100%; height: 600px;"></div>

<% content_for(:after_js) do %>
<%= javascript_tag do %>
$(document).ready(function() {
var handler = Gmaps.build('Google');
handler.buildMap({ provider: {scrollwheel: false}, internal: { id: 'map' } }, function() {
markers = handler.addMarkers(<%= raw @coordinates.to_json %>);
handler.bounds.extendWith(markers);
handler.fitMapToBounds();
if (markers.length == 0) {
handler.getMap().setZoom(2);
} else if (markers.length == 1) {
handler.getMap().setZoom(14);
handler.disableScrollWheelZoom();

}
});
});
<% end %>
<% end %>
