<div class="banner-index" style="background-image: url( <%= image_path("Hipster-banner-index.jpg") %>);">
  <section class="first">
   <h1 class="banner-content-index">
    All the available barbers,
    <br>
    closest to you!
  </h1>
</div>
</section>


<br>
<br>

<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <div class="slider-search">
        <h4>Current search range :  <%= @distance %> km</h4>
      </div>
      <div class="range-slider"> Max Distance
        <input class="range-slider__range" type="range" value="5" min="0" max="50">
        <span id="slider-value" class="range-slider__value"></span>
      </div>
    </div>
    <div class="col-sm-4">
      <h4><%= link_to 'Change the Range', availabilities_path, class: "search-btn-avail", id: "find-btn" %>
      </h4>
    </div>
  </div>
</div>



<div class="container container-index">
  <div class="row row-index">
    <% @available_barbers_by_distance.each do |barber| %>
    <div class="card-available-container">
      <div class="col-xs-12">
        <%= link_to(barber) do %>
        <div class="card-background-available">
          <div class="card-available" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path(barber.picture) %>);">
            <%= image_tag "beardman.png", class: "card-user-available avatar" %>
          </div>
          <div class="card-location-available">
            <p> <%= barber.location %> </p>
          </div>
          <div class="card-hover-available">
            <p>
              <%= barber.description[0..100] %>...
              <% average = 0 %>
              <% barber.reviews.each do |e| %>
              <% average += e.rating.to_i %>
              <% end %>
            </p>
          </div>
          <h4>
            <%= link_to "#{barber.name}", barber_path(barber), class: "barber-name" %>
          </h4>
          <div class="card-rating-available">
            Rating:
            <% if barber.reviews.length == 0 %>
            <%= "Not Rated Yet!" %>
            <% else %>
            <%= average/barber.reviews.length %>
            <% end %>
          </div>
        </div>
        <% end  %>
      </div>
      <div class="card-distance-available">
        <% if barber.availabilities %>
        <% barber.availabilities.each do |a| %>
        <p> <strong>Available</strong> from <%= a.start.strftime("%b %e, %l:%M %p") %>
         untill <%= a.end.strftime("%b %e, %l:%M %p") %>
         <% end %>
         <% end %>
         <br>
         Distance by foot: <%= barber.walk_distance(@lat, @lng) %> (<%= barber.walk_duration(@lat, @lng)  %>)
         <br>
         Distance by car: <%= barber.car_distance(@lat, @lng) %> (<%= barber.car_duration(@lat, @lng)  %>)
         <br>
       </p>
     </div>
   </div>
 </div>

 <div class="profile-map-style">
  <div class="map-style">
    <div id="map" style="width: 250px; height: 250px; margin-top: 40px; margin-left: 40px; border-style: groove;"></div>
  </div>
</div>
</div>
<% end %>



<div id="map" style="width: 100%; height: 600px;"></div>

<% content_for(:after_js) do %>
<%= javascript_tag do %>
$(document).ready(function() {
var handler = Gmaps.build('Google');
handler.buildMap({ provider: {scrollwheel: false}, internal: { id: 'map' } }, function() {
markers = handler.addMarkers(<%= raw @coordinates.to_json %>);
handler.bounds.extendWith(markers);
handler.fitMapToBounds();
if (markers.length == 0) {
handler.getMap().setZoom(2);
} else if (markers.length == 1) {
handler.getMap().setZoom(14);
handler.disableScrollWheelZoom();

}
});
});
<% end %>
<% end %>
